{% extends 'base.html.twig' %}

{% block title %}
  Hello HomeController!
{% endblock %}

{% block body %}
  {% include 'navbar/navbar.html.twig' %}
  <h1 id="titre-home">Venez découvrir nos magnifiques animaux à adopter</h1>
  <div class="flex-caroussel">
    <button class="prev">❮</button>
    <div class="carousel-container">
      <div class="card-flex">
        <a href="{{ path('app_categorie', { categorie: 'chat' }) }}">
          <div class="chats">
            <p>Chats</p>
          </div>
        </a>
        <a href="{{ path('app_categorie', { categorie: 'chien' }) }}">
          <div class="chiens">
            <p>Chiens</p>
          </div>
        </a>
        <a href="{{ path('app_categorie', { categorie: 'oiseau' }) }}">
          <div class="oiseaux">
            <p>Oiseaux</p>
          </div>
        </a>
        <a href="{{ path('app_categorie', { categorie: 'rongeur' }) }}">
          <div class="rongeurs">
            <p>Rongeurs</p>
          </div>
        </a>
        <a href="{{path('app_categorie', {categorie: 'reptile'})}}">
          <div class="reptiles">
            <p>Reptiles</p>
          </div>
        </a>
      </div>
    </div>
    <button class="next">❯</button>
  </div>
{% endblock %}
